* {
    font-size: 14px;
}

:root {
    /* from darkest to light */
    /* header? */
    --pakistan-green: #243010;
    /* dark accent */
    --cal-poly-green: #2a3c24;
    /* background */
    --apple-green: #87a330;
    /* lighter accent */
    --yellow-green: #a1c349;
    /* text color */
    --sage: #cad593;
}

body {
    background-color: var(--apple-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    background-color: var(--pakistan-green);
    padding: 1rem;
    align-self: stretch;

    display: flex;
    justify-content: space-between;
    gap: 2rem;

    border-bottom: solid var(--cal-poly-green) 2px;
    box-shadow: var(--pakistan-green) 0 0 2px 2px;
}

header > .logo {
    color: var(--sage);

    border-radius: 100%;
    margin-top: 0;
    box-shadow: none
}


header > .logo > p {
    font-size: .8rem;
}

nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

button {
    flex-grow: 0;
    flex-basis: 0;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    border: none;

}

button:hover {
    background-color: var(--yellow-green);
}


nav > button {
    background-color: var(--apple-green);
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 2rem;
}

#content {
    width: 1200px;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.389);
    margin-bottom: auto;
    flex-grow: 1;
}

.logo {
    font-style: italic;
    color: var(--sage);
    background-color: var(--pakistan-green);
    border-radius: 100%;
    display: inline;
    margin-top: 2rem    ;
    box-shadow: 0 0 4px 1px var(--apple-green);
    /* height: 160px; */
}

.logo > p {
    font-size: 1.25rem;
}

.story {
    padding: 5rem;
    font-size: 1.5rem;
    color: var(--sage)
}

.the-menu {
    display: grid;
    grid-auto-flow: column;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}
.menu-item {
    padding: 1rem;
    border: solid var(--sage), 2px;
    border-radius: 1rem;
    color: var(--sage);
    background-color: var(--pakistan-green);
    word-wrap: break-word;
    width: calc(400px - 2rem);


}

.menu-item-title {

}

.menu-item-image {
    width: calc(400px - 4rem);
    height: auto;

}

.menu-item-description {
    word-wrap: break-word;

}

.menu-item-description::before {
    content: "Description: ";
    font-weight: bold;
    font-size: 1.2rem;

}

.menu-item-price {
    font-style: italic;
    font-weight: 700;
    text-align: right;
}

.menu-item-price::before {
    content: "$";
}
.splotch-logo {
    width: 30px;
    display: inline-block   ;

}

.splotch-logo-large {
    width: 100px;
    display: inline-block;
}

.contact-form {
    margin-top: 4rem;
}